{% extends "blog/base.html" %}

{% load static %}

{% block head %}
    <title>CV Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/CV.css' %}">
{% endblock head %}

{% block body %}
        
    <div class="cv">
    
        <div id="details">
            <h2>My Details</h2>
            <p>Name: Daniel Newsham<br>
            Email: <a href = "mailto: dxn824@student.bham.ac.uk">dxn824@student.bham.ac.uk</a></p>
        </div>
        
        
        <div id="pstatement">
            <h2>Personal Statement</h2>
            <p>...</p>
        </div>

        
        <div id="education">
            <h2>Education</h2>
            <p>Attended St Ivo School<br>
            Goes to University of Birmingham, studying Computer Science Msci</p>
        </div>
        
        
        <div id="achievments">
            <h2>Achievments</h2>
        </div>
        
        
        <div id="wexperience">
            <h2>Work Experience</h2>
        </div>

    </div>
    
    <a href="/CV/edit" id="edit">Edit</a>

{% endblock body %}
